[Unit]
Description=Visits app
After=network.target

[Service]
Type=simple
WorkingDirectory={{ prj_dir }}
ExecStart={{ prj_dir }}/.venv/bin/python3 {{ prj_dir }}/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target